.adcImage{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 300px;
    padding: 1em;
    background-color: var(--dont-black);
    border: 5px solid var(--light-beige);
    border-radius: 30px;
}
.adcImage > .title{
    text-align: center;
    margin: 1em;
}
.labelsInputs{
    margin: .5em;
    font-size: 1.3em;
    font-weight: 700;
}
.labelsInputs > input{
    padding: 0.5em;
    border-radius: 15px;
    border: none;
}
.labelsInputs > input[type="text"]:focus{
    outline: none;
    border: 2px solid var(--light-red);
}
.labelsInputs > input[type="file"]{
    display: none;
}
#sobeArquivo{
    padding: .5em;
    background-color: #ffffffcd;
    color: var(--dont-black);
    border: 5px solid var(--light-beige);
    border-radius: 15px;
    text-align: center;
    transition: .4s;
    cursor: pointer;
}
#sobeArquivo:hover{
    background-color: var(--dont-black);
    color: #ffffffcd;
}
.submitBtn{
    padding: .9em;
    margin: 1em;
    border-radius: 15px;
    border: 5px solid var(--light-beige);
    background-color: var(--light-red);
    font-size: 1.1em;
    font-weight: 900;
    color: var(--light-beige);
    transition: .4s;
    cursor: pointer;
}
.submitBtn:active, .submitBtn:hover{
    scale: 1.1;
}