<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/base.css" type="text/css">
    <script src="https://kit.fontawesome.com/b5d27f2592.js" crossorigin="anonymous"></script>
    <title>Início</title>
</head>
<body>
    <div id="header">
        <a href="/inicio"><i class="fa-solid fa-image"></i></a>
        <div class="header__nav">
            <a href="/images"><button>PicsFile</button></a>
        </div>
    </div>
    <div class="container-ferramenta">
        <div class="title">
            Adicione sua imagem!
            <div class="subtitle">

            </div>
        </div>
    </div>
    <div id="footer">
        <a href="/termos-de-uso">Termos de uso</a>
        <a href="/politicas-de-privacidade">Políticas de privacidade</a>
    </div>
</body>