<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/base.css" type="text/css">
    <link rel="stylesheet" href="public/styles/section/inicio.css" type="text/css">
    <link rel="stylesheet" href="public/styles/section/about.css" type="text/css">
    <link rel="stylesheet" href="public/styles/section/vantagens.css" type="text/css">
    <link rel="stylesheet" href="public/styles/section/avaliacoes.css" type="text/css">
    <link rel="stylesheet" href="public/styles/section/call2action.css" type="text/css">
    <script src="https://kit.fontawesome.com/b5d27f2592.js" crossorigin="anonymous"></script>
    <title>Início</title>
</head>
<body>
    <div id="header">
        <a href="/"><i class="fa-solid fa-image"></i></a>
        <div class="header__nav">
            <a href="/images"><button>PicsFile</button></a>
        </div>
    </div>
    <div id="container">
        <div class="inicio">
            <!-- Aplicação do infinite scroll com as imagens -->
            <div class="line-one">
                <img class="item toLeft-item-1" src="public/assets/praia.jpg" alt="Imagem de Kristen por Pixabay">
                <img class="item toLeft-item-2" src="public/assets/farol.jpg" alt="Imagem de Abubakr Abdelatif por Pixabay">
                <img class="item toLeft-item-3" src="public/assets/hard-rock-ny.jpg" alt="Imagem de omarcortes por Pixabay">
                <img class="item toLeft-item-4" src="public/assets/landscape-vancouver.jpg" alt="Imagem de Luke Lawreszuk por Pixabay">
                <img class="item toLeft-item-5" src="public/assets/street-ny.jpg" alt="image-loop">
                <img class="item toLeft-item-6" src="public/assets/lapa.jpg" alt="image-loop">
            </div>
            <div class="line-two">
                <img class="item toRight-item-1" src="public/assets/indigena.jpg" alt="Imagem de Rodrigo Farhat por Pixabay">
                <img class="item toRight-item-2 " src="public/assets/loop-art.jpg" alt="Imagem de Susann Mielke por Pixabay">
                <img class="item toRight-item-3" src="public/assets/centroSP.jpg" alt="Imagem de Alex G. Ramos por Pixabay">
                <img class="item toRight-item-4" src="public/assets/trains-station.jpg" alt="Imagem de WGRIECO por Pixabay">
                <img class="item toRight-item-5" src="public/assets/trains-leaving.jpg" alt="Imagem de henriquea2011 por Pixabay">
                <img class="item toRight-item-6" src="public/assets/mount.jpg" alt="Imagem de Adil Khan por Pixabay">
            </div>
            <div class="line-three">
                <img class="item toLeft-item-1" src="public/assets/passarinho.jpg" alt="Imagem de CESAR AUGUSTO RAMIREZ VALLEJO por Pixabay">
                <img class="item toLeft-item-2" src="public/assets/onibus-tecnico.jpg" alt="Imagem de Mircea Iancu por Pixabay">
                <img class="item toLeft-item-3" src="public/assets/two-cars.jpg" alt="Imagem de Orlando por Pixabay">
                <img class="item toLeft-item-4" src="public/assets/lanchao.jpg" alt="Imagem de -Rita-👩‍🍳 und 📷 mit ❤ por Pixabay">
                <img class="item toLeft-item-5" src="public/assets/veado.jpg" alt="Imagem de -Rita-👩‍🍳 und 📷 mit ❤ por Pixabay">
                <img class="item toLeft-item-6" src="public/assets/fritascomcarne.jpg" alt="Imagem de -Rita-👩‍🍳 und 📷 mit ❤ por Pixabay">
            </div>
            <div class="inicio__titleNdesc">
                <p class="title">Use PicsFile</p>
                <p class="subtitle">Sua nova galeria.</p>
            </div>
        </div>
        <div class="snap about">
            <div class="about__desc">
                <p class="subtitle">Quem somos?</p>
                <p class="text">PicsFile é um aplicativo online que facilita a recordação, armazenamento e compartilhamento de fotos. Garantimos a segurança e privacidade das fotos dos usuários com tecnologias avançadas de criptografia e backups automáticos.</p>
            </div>
        </div>
        <div class="snap vantagens subcontainer">
            <p class="title">Nossa ferramenta entrega</p>
            <div class="cards">
                <div class="cards-item">
                    <p class="subtitle">Momentos mágicos!</p>
                    <i class="fa-solid fa-wand-magic-sparkles"></i>
                    <p class="text">Salve os seus momentos preferidos.</p>
                </div>
                <div class="cards-item">
                    <p class="subtitle">Recorde o local</p>
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="text">Marque a localização daquele lugar inesquecível!</p>
                </div>
                <div class="cards-item">
                    <p class="subtitle">Grave a história</p>
                    <i class="fa-solid fa-book"></i>
                    <p class="text">Para não esquecer o porque de guardar aquela foto.</p>
                </div>
            </div>
        </div>
        <div class="snap avaliacoes subcontainer">
            <p class="title">Nossas avaliações</p>
            <div class="cards">
                <div class="cards-item">
                    <div class="perfil">
                        <img src="public/assets/perfil-joao.jpg" alt="Imagem de JUNO KWON por Pixabay">
                        <p class="perfil text"> João Silva</p>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </div>
                    <div class="nota">
                        <p class="nota text">O PicsFile é fantástico! A privacidade é garantida e posso gerenciar minha galeria com total controle. Ter todas as minhas fotos em um lugar seguro é ótimo!</p>
                    </div>
                </div>
                <div class="cards-item">
                    <div class="perfil">
                        <img src="public/assets/perfil-maria.jpg" alt="Foto de perfil Maria">
                        <p class="perfil text"> Maria Oliveira</p>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </div>
                    <div class="nota">
                        <p class="nota text">Adoro o PicsFile! Minhas fotos estão protegidas e posso recordá-las sempre que quiser. Ter todas em um lugar só meu é perfeito.</p>
                    </div>
                </div>
                <div class="cards-item">
                    <div class="perfil">
                        <img src="public/assets/perfil-astolfo.jpg" alt="Imagem de huoadg5888 por Pixabay">
                        <p class="perfil text"> Astolfo Bernardo</p>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </span>
                    </div>
                    <div class="nota">
                        <p class="nota text">O PicsFile oferece excelente privacidade e controle sobre minhas fotos. Recomendo!"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="call2action">
            <div class="desc">
                <p class="subtitle">O que está esperando?</p>
                <p class="text">Comece a usar agora mesmo!</p>
            </div>
            <div class="buttons">
                <a href="/images"><button>PicsFile</button></a>
        </div>
    </div>
    <div id="footer">
        <a href="/termos-de-uso">Termos de uso</a>
        <a href="/politicas-de-privacidade">Políticas de privacidade</a>
    </div>
</body>
</html>